<html>
<head>
<style type="text/css">
  #container {
    max-width: 100%;
    height: 100%;
    margin: auto;
  }
</style>
</head>
<body>
  <h1> Pivotal Graphs </h1>
  <ul>
    <li><a href="/burndown">Burndown</a></li>
    <li><a href="/blockers">Blockers</a></li>
  </ul>
</body>
</html>
